
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	width: 1170px;
}

.button {
	background-color: blueviolet;
	text-align: center;
	padding: 30px;
	width: 500px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	animation-name: button-anim;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	position: relative; 
	margin-bottom: 20px;
}

.button:nth-child(2) {
	animation-direction: reverse;
}

.button img {
	width: 300px;
	padding-top: 20px;
}

@keyframes button-anim {
	0% {
		left: -500px;
	}
	35% {
		
	}
	70% {
		
	}
	100% {
		left: 1500px;
	}
}